############################################
# Global
############################################
* @MansaGroup/nx-maintainers

############################################
# Backend related
############################################
/backend/ @MansaGroup/backend

############################################
# Frontend related
############################################
/frontend/ @MansaGroup/backend

############################################
# Data science related
############################################
/datascience/ @MansaGroup/data-science
